body{
    font-size: 16px;
}

a{
    color: #ff4c3b;
}

.productVariants .firstChild{
    min-width: 150px;
    text-align: left !important;
    border-radius: 0% !important;
    margin-right: 10px;
    cursor: default;
    border: none !important;
}
.product-right .color-variant li, .productVariants .otherChild{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #f7f7f7;
    text-align: center;
}
.productVariants .otherSize{
    height: auto !important;
    width: auto !important;
    border: none !important;
    border-radius: 0%;
}
.product-right .size-box ul li.active {
    background-color: inherit;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chiller_cb .check_icon:before, .chiller_cb .check_icon:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb input {
    display: none;
}

.chiller_cb input:checked~.check_icon {
    background: #000;
    border-color: #000;
}

.chiller_cb input:checked~.check_icon:before {
    width: 15px;
    height: 4px;
    transition: width 0.1s;
    transition-delay: 0.3s;
}

.chiller_cb input:checked~.check_icon:after {
    width: 8px;
    height: 4px;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb input:disabled~.check_icon {
    background: #ececec;
    border-color: #dcdcdc;
}

.chiller_cb input:disabled~label {
    color: #dcdcdc;
}

.chiller_cb input:disabled~label:hover {
    cursor: default;
}

.chiller_cb label {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
}

.small_label {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 10px;
}

.chiller_cb .check_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
    border-radius: 50px;
}

.chiller_cb .check_icon:before {
    transform: rotate(-55deg);
    top: 20px;
    left: 12px;
}

.chiller_cb .check_icon:after {
    transform: rotate(35deg);
    bottom: 12px;
    left: 9px;
}

.check_icon.white_check::before, .check_icon.white_check::after {
    background: #000;
}

/* The radio */
.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkround {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-color: #161616;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio input:checked~.checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked~.checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #161616;
}
.border_outer {
    border: 1px solid #BDD5CC;
    padding: 27.5px 19.5px;
}
.radio_btn li {
    margin-right: 40px;
}
.radio_btn li:last-child {
    margin-right: 0;
}

.iti__flag {
    background-image: url("../images/flags.png");
}

.social-logins{
    text-align: center;
}
.social-logins img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

.product-img {
    width: 100px;
    height: 70px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#order_table tbody tr:nth-of-type(odd),
#order_table tbody tr:nth-of-type(even) {
    background-color: transparent;
}

/*#order_table td {
    vertical-align: top !important;
}*/

#order_table tr:last-child td {
    vertical-align: middle !important;
}

.coupon_box {
    background: #F3F9FF;
    padding: 5px 10px;
    width: 300px;
}

.coupon_box .form-control {
    border: 0;
    background: transparent;
}

/*.coupon_box button {
    background: transparent;
    border: 0;
    color: #3CA8FE;
    font-size: 12.7px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 11px;
}*/

.coupon_box button {
    border-color: #ff4c3b;
    color: #ff4c3b;
}

.coupon_box button:hover {
    border-color: #ff4c3b;
    background: #ff4c3b;
}

.items-details h4 {
    font-size: 16px;
    margin: 0;
}

.items-details h6 {
    margin: 0 0 3px;
    font-size: 15px;
    padding-left: 10px;
}

.items-details p {
    font-size: 12px;
    padding-left: 10px;
}

.txt-13 {
    opacity: 0.5;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
    margin: 0 0 5px;
}

.total_amt {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
}


.border_0 td {
    border-top: 0 !important;
}


/* The radio */

.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

/* Hide the browser's default radio button */

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkround {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-color: #979797;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */

.radio input:checked~.checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.radio input:checked~.checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.radio .checkround:after {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ff4c3b;
}

.delivery_box {
    border-radius: 5px;
    background-color: #fff;
    padding: 16px;
}

.add-btn {
    height: 35px;
    line-height: 35px;
    width: 200px;
    max-width: 100%;
    padding: 0 20px;
    border: 1px solid #979797;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../images/flags@2x.png");}
}



  .number  span {cursor:pointer; }
        .minus, .plus{
            width:20px;
            height:20px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
        }
        .number input{
            height:34px;
      width: 50px;
      text-align: center;
            border:1px solid #ddd;
            border-radius:4px;
      display: inline-block;
      vertical-align: middle;
            }
            .left_box .checkround {
    top: 4px;
}
.action-icon.d-block.mb-3 {
    margin-bottom: 11px !important;
}

.padding-bottom td {
    vertical-align: top !important;
    padding-bottom: 0;
}

.padding-top td {
    padding-top: 0;
}

.add_on_items td {
    padding: 0 15px;
}

.add_on_items td:first-child {
    width: 200px;
}

.add_on_items td:last-child {
    width: 80px;
}

.add_on_items tr:last-child td{
    padding-bottom: 15px;
}


.cart_img_outer{
    width: 300px;
    max-width: 100%;
    height: 300px;
    margin: auto;
}

.cart_img_outer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body .main-menu .brand-logo {
    padding: 0;
}

.slide-6 .slick-track {
    display: flex;
    align-items: center;
}

/* Login Page Css */
ul.social-links {
    width: max-content;
}

ul.social-links li {
    padding: 0 10px;
}

ul.social-links li a {
    width: 55px;
    height: 55px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.05);
    display: block;
    line-height: 55px;
    font-size: 26px;
}

.divider_line{
    height: 1.2px;
    width: 353px;
    border: 1.2px solid #979797;
    opacity: 0.24;
    background-color: #979797;
}

.divider_line span {
    height: 25.15px;
    width: 25.15px;
    line-height: 21.15px;
    border: 1.2px solid #DFE2E6;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 5%);
    color: #000000;
    font-size: 9.56px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: -13px auto;
    background: #fff;
}

.wrapper-main h3{
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
}

.wrapper-main p{
    opacity: 0.4;
    color: #000000;
    font-size: 13.28px;
    font-weight: 600;
    line-height: 15px;
}

.create_box{
    width: 365px;
    max-width: 100%;
    margin: auto;
}

.create_box h6{
    color: #000000;
    font-size: 15.94px;
    font-weight: 700;
    line-height: 19px;
}

.create_box p{
    opacity: 0.6;
    color: #000000;
    font-size: 16px;
    line-height: 19.92px;
}

.forgot_btn{
    color: #000000;
    font-size: 15.94px;
    font-weight: 400;
    line-height: 19px;
}

.wrapper-main .btn, .wrapper-main .form-control {
    height: 45px;
    padding: 5px 15px;
    line-height: 30px;
    border-radius: 4px;
}


.verify_id .form-control,.verify_id .input-group-text {
    border-radius: 50px;
}

.verify_id .input-group-text {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.verify_id .form-control {
    opacity: 0.6;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    padding: 19px 20px;
}

.verify_id .input-group-text {
    color: #2B8AFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 22.58px;
}

.otp_inputs .form-control {
    height: 44px;
    width: 44px;
    background-color: #fff;
    text-align: center;
    opacity: 0.63;
    color: #000000;
    font-size: 23.91px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    padding: 0 5px;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.resend_txt p{
    opacity: 0.6;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.resend_txt a{
    color: #2B8AFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

form label {
    font-size: 14px;
    color: #000;
    margin: 0 0 5px;
}

form .form-control {
    font-weight: 600;
    color: #000;
    opacity: 1;
    padding: 0 10px;
}

form .form-control::-webkit-input-placeholder,form .form-control::placeholder {
    opacity: 0.6;
    font-weight: 300;
}

form .btn{
    border-radius: 4px;
}



/* 26-05-2021 New Login Screens Css Done */

.collection-filter .theme-card .offer-slider a {
    width: 150px;
    height: 150px;
}

.theme-card .offer-slider img {
    height: 100%;
    max-width: 100% !important;
    object-fit: cover;
    padding: 15px;
    width: 100%;
}

.remove-item-modal .modal-dialog {max-width: 300px;}

.remove-item-modal .close {
    position: absolute;
    right: -25px;
    top: -20px;
    color: #fff;
    opacity: 4;
}

/* .remove-item-modal .btn {
    width: 50%;
    height: 45px;
    padding: 10px;
    line-height: 35px;
} */

.remove-item-modal .btn {
    width: 50%;
    height: 35px;
    padding: 10px;
    line-height: 10px;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #ced4da;
}

.action-icon{
    cursor: pointer;
}

.theme-card .offer-slider a {
    width: 170px;
}

.dashboard-left .block-content {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 25px 0 rgb(138 129 124 / 3%);
}

.dashboard-right .dashboard {
    border: 0;
    padding: 0;
    /* padding: 0 30px; */
}

.outer-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-direction: column;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 25px 0 rgb(138 129 124 / 3%);
}

.default_address label{
    font-weight: 400;
}

.order-address .outer-box.border-dashed{
    border-style: dashed;
    border-width: 2px;
    height: 100%;
}

.outer-box h6 i {
    color: #ff4c3b;
    font-size: 20px;
}

.address-btn .btn {
    padding: 0;
    width: auto;
    display: block;
    font-size: 12px;
    padding: 0 10px;
    margin-right: 8px;
}

.address-btn .btn:last-child {
    margin-right: 0;
}

.address-type h6{
    font-weight: 700;
}

.outer-box h6 {
    font-weight: 600;
}

.outer-box .fa-plus-circle.d-block {
    font-size: 26px;
    color: #ff4c3b;
}

.order_details p{
    margin: 0 0 0px;
    font-size: 12px;
}

.product-title h4 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.order_head{
    text-transform: uppercase;
    font-weight: 600;
}

.order_details .btn {
    padding: 5px 10px;
    font-size: 12px;
}


/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
  }
  /* Hide radio */
  .rate > input {
    display: none;
  }
  /* Order correctly by floating highest to the right */
  .rate > label {
    float: right;
  }
  /* The star of the show */
  .rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0.3rem 0.2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
  }
  /* Zero stars rating */
  .rate > label:last-child:before {
    content: "\f006 "; /* empty star outline */
  }
  /* Half star trick */
  .rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
  }
  /* Click + hover color */
  .rate input:checked ~ .rate label, .rate label:hover, .rate label:hover ~ label
  label:hover,.rate  label:hover ~ label {
    color: #FFD700;
  } /* color previous stars on hover */
  
  /* Hover highlights */
  .rate input:checked + label:hover,.rate input:checked ~ .rate label:hover,.rate /* highlight current and previous stars */
  input:checked ~ .rate label:hover ~ label,.rate /* highlight previous selected stars for new rating */
  label:hover ~ input:checked ~ .rate label /* highlight previous selected stars */ {
    color: #a6e72d;
  }
  
  .rate span {
    float: left;
    margin: 6px 9px 0 0;
    font-size: 16px;
    font-weight: 400;
}

.custom-control-label{
    cursor: pointer;
}
  
.product-icon {
    width: 50px;
    height: 50px;
}

.product-icon img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.cart-table th, .cart-table td {
    vertical-align: middle;
}

.cart-table th{
    text-transform: capitalize;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ff4c3b;
    border-color: #ff4c3b;
}

.cart-table .btn.btn-solid {
    padding: 6px 15px 8.2px;
    text-transform: capitalize;
}

.btn-solid{
    padding: 6.7px 29px;
    border-radius: 4px;
}

.register-page .theme-card .theme-form input{
    padding: 9px 25px;
}


.file--upload>label .fa-user:before {
    content: "\f007";
    position: relative;
    top: 10px;
}

.file>input[type='file'] {
    display: none
}

.file>label {
    cursor: pointer;
    outline: 0;
}

.file>label:hover {
    border-color: hsl(0, 0%, 21%);
}

.file>label:active {
    background-color: hsl(0, 0%, 96%);
}

.file>label>i {
    padding-right: 5px;
}

.file--upload>label {
    width: 113px;
    display: inline-block;
    position: relative;
}


.file--upload>label:active {
    background-color: transparent;
}

.file .update_pic {
    height: 112.8px;
    width: 112.8px;
    border: 0.9px solid #E9F0F8;
    background: url(../images/user_pic.jpg) no-repeat center;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    display: block;
}

.file .update_pic img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.file--upload>label .plus_icon {
    height: 33px;
    width: 33px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 50%;
    background-color: #3F9FFF;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.file--upload>label {
    margin-bottom: 0;
}

/* .file--upload>label .update_pic {
    width: 100%;
    height: 300px;
} */

.file--upload>label .plus_icon {
    height: 33px;
    width: 33px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 50%;
    background-color: #3F9FFF;
    box-shadow: 0 2px 4px 0 rgb(63 159 255 / 40%);
    display: block;
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
}

.file--upload>label .plus_icon::after {
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 90%);
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

.file--upload>label .plus_icon .img-txt {
    background: #ff4c3b;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
    padding: 0 15px;
}

.file--upload>label:hover .plus_icon {
    opacity: 1;
}

.name_location {
    background-color: #ffffff;
    box-shadow: 0 4px 25px 0 rgb(138 129 124 / 3%);
    padding: 10px 16px 15px;
}

/* .file.file--upload {
    background-color: #ffffff;
    box-shadow: 0 4px 25px 0 rgb(138 129 124 / 3%);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 20px;
} */

.profile-sidebar .block-content,.dashboard-left .block-content {
    /* overflow: hidden; */
    padding: 5px 0;
    border: 0;
}

.block-content ul li::before {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dashboard-left .block-content ul li {
    display: block;
    position: relative;
}

.dashboard-left .block-content ul li a {
    padding: 10px 20px;
    display: block;
    border-left: 3px solid transparent;

}

.dashboard-left .block-content ul li:hover{
    padding-left: 0;
}

.dashboard-left .block-content ul li.active a,.dashboard-left .block-content ul li:hover a {
    border-color: #ff4c3b;
    background: linear-gradient(270deg, rgb(247, 235, 236) 0%, rgba(251, 246, 247, 0) 92.47%);
}

h1,h2,h3,h4,h5,h6{
    text-transform: capitalize !important;
}

.page-title h3 {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    text-transform: capitalize;
}

.social-btn label {
    width: 30px;
    margin: 0;
}

.social-btn span {
    font-size: 14px;
    
}

.social-btn {
    border: 1px solid #ddd;
    display: block;
    padding: 6.2px 15px;
    color: #fff;
    border-radius: 4px;
}

.facebook-btn {
    background-color: #3b5998;
}

.twitter-btn{
    background-color: #0084b4;
}

.social-btn:hover {
    color: #fff;
}

.facebook-btn:hover {
    background: rgb(59 89 152 / 80%);
}

.twitter-btn:hover {
    background: rgb(0 132 180 / 80%);
}

.social-btn i {
    font-size: 20px;
    vertical-align: middle;
    width: 24px;
}

.social-handler label{
    font-size: 14px;
    color: #000;
    margin: 0 0 5px;
}



.modal-title{
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.close.top_right {
    position: absolute;
    right: -25px;
    top: -30px;
    color: #fff;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.close.top_right:hover {
    color: #ff4c3b;
}

.edit_address .modal-content {
    border-radius: 12px;
    overflow: hidden;
}

.edit-close {
    top: 20px;
    right: 25px;
}

.select_address {
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 10px;
}

.location-area i {
    color: #ff4c3b;
    font-size: 22px;
    vertical-align: middle;
}

.location-area span {
    vertical-align: middle;
}

.location-area + label,.address-input-field label {
    font-weight: 400;
    color: #ff4c3b;
}

/* #step-two {
    position: absolute;
    bottom: -100%;
    transform: translateY(-1000%);
    background: #fff;
    width: 100%;
} */


.address_list{
    height: 456px;
}
.delivery-head {
    font-size: 14px;
    font-weight: 400;
}

.address-input-field {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 0 10px;
}

.other-address-input .address-input-field {
    display: inline-flex;
    align-items: center;
    width: 55%;
}

.edit-area .form-control {
    margin: 15px 0 0;
    border-radius: 8px;
    height: 41px;
}

.address_type .radio{
    margin-right: 10px !important;
}

.address_type .radio:last-child{
    margin-right: 0 !important;
}

.address_type .radio .checkround:after {
    width: 13px;
    height: 13px;
}

.other-address-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review_txt {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    position: relative;
    top: 1px;
    left: 5px;
}

.product-title{
    font-weight: 600;
    color: #000;
}

.order_detail .table-responsive {
    background: rgb(255, 251, 247);
    padding: 10px;
}

.detail-table thead th,.detail-table td{
    border: 0 !important;
    padding: 3px 10px;
}

.detail-table td{
    font-size: 14px;
    font-weight: 400;
    width: 60%;
    color: rgb(80, 181, 71);
}

.saving-txt{
    border: 1px solid rgb(80, 181, 71);
    border-radius: 8px;
    padding: 5px;
}

.order_detail .order_head {
    font-size: 16px;
    font-weight: 400;
    margin-block-end: 5px;
    font-weight: 300;
}

.detail-table thead th {
    font-weight: 400;
}

.detail-table tbody tr:last-child td{
    padding-bottom: 15px;
}
.order_detail .order_sub_title {
    font-size: 14px;
    font-weight: 300;
}

.detail-table tfoot td {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    border-top: 1px solid #ddd !important;
    padding-top: 10px;
}




/* Order Page Css */
.order_detail {
    position: relative;
    margin-bottom: 10px !important;
}

.order_detail:before {
    content: "";
    border: 1px solid #43bee1e8;
    background-color: #43bee1e8;
    position: absolute;
    height: calc(100% - 15px);
    left: 0;
    top: 15px;
}


.left_arrow {
    width: 7px;
    height: 7px;
    position: absolute;
    left: -23px;
    top: 5px;
    background: #53c3e3;
    border-radius: 50%;
}

.order_head h4 {
    padding: 0 10px;
    font-size: 16px;
}

.order_data>div {
    padding: 0 10px !important;
}

.product_list li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 0 0 30px 10px;
}

.product_list li img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50px;
}

.items_price {
    list-style: none;
}

.items_price {
    font-weight: 700;
    font-size: 12px;
    color: #53c3e3;
    margin: 0;
}

.item_no {
    top: -7px;
    right: -6px;
    background: #43bee1;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    font-weight: 900;
}

.status_box {
    list-style: none;
}

.status_box li {
    margin: 0 0 10px;
}

.status_box label {
    background: rgba(247, 184, 75, .25);
    color: #f7b84b;
    border-radius: 50px;
    padding: 0 5px;
}

.in-progress label {
    background: rgba(247, 184, 75, .25) !important;
    color: #f7b84b !important;
}

.paid {
    background-color: rgba(26, 188, 156, .25) !important;
    color: #1abc9c !important;
}

.status_box i,
.status_box label {
    vertical-align: middle;
}

.status_box .fa-spinner {
    color: #f7b84b !important;
}

.status_box .fa-money-check {
    color: #1abc9c !important;
}

.item_price {
    list-style: none;
}

.item_price li {
    margin-right: 5px;
}

.grand_total {
    border-top: 1px solid #e5e8eb !important;
    padding-top: 5px;
}

.grand_total label,
.grand_total span {
    font-weight: 900;
    color: #000;
}

.pulse {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #43bee1;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(67 190 225 / 50%);
    position: absolute;
    left: -3px;
    top: 0;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.price_box_bottom li {
    margin: 0 0 10px;
    color: #6c757d;
}


.price_box_bottom li:last-child {
    margin: 0;
}

.order_detail:hover{
    color: #53c3e3;
}

.status_box li img {
    opacity: 0.5;
}

.card-box .background:after {content: "";position: absolute;top: 0;left: 0;opacity: 0.5;background: #000;width: 100%;height: 100%;z-index: -1;}

.card-box .background {
    z-index: 1;
    position: relative;
}

label{
    font-weight: 400;
}

.dashboard-right .card-box {
    box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 7%);
}

/* Referral Modal Css Start From Here */
.coupon-code {
    box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 7%);
    margin-top: 20px;
}

.coupon-box {
    height: calc(100vh - 510px);
    overflow-y: auto;
    overflow-x: hidden;
}

.coupon-code img {
    height: 30px;
    margin-bottom: 5px;
}

.code-input .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.code-input .btn.btn-solid {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.coupon-code h6 {
    font-weight: 700;
    color: #000;
    margin-bottom: 2px;
}

.coupon-code p {
    font-weight: 300;
    font-size: 16px;
}

.code-outer label {
    border: 2px dashed #ff4c3b;
    padding: 5px 15px;
    font-size: 16px;
    letter-spacing: 3px;
    color: #000;
    font-weight: 600;
    border-radius: 2px;
}

.code-outer a {
    font-size: 14px;
}

.offer-text p{
    color: #ff0000;
    font-size: 14px;
}

.main-img {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-text label {
    font-weight: 100;
}

.info-text p {
    font-weight: 700;
    color: #000;
    margin-bottom: 0;
    margin-block-end: 0;
}

.profile-edit {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: underline !important;
}

.address_box p:last-child{
    margin: 0;
}

.text-16 {
    color: #000000 !important;
    font-size: 16px !important;
    font-weight: 300;
    letter-spacing: 0 !important;
    line-height: 24px !important;
}

.address_box p {
    margin: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

.address_btn a {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline !important;
    margin-right: 15px;
    display: inline-block;
}

.address_btn a:last-child {
    margin-right: 0;
}

.profile-page h6{
    font-size: 16px;
}



/* Payment Popup Css Start From Here */
#pay-bill .modal-title {
    font-size: 28px;
}

#pay-bill .modal-content {
    height: calc(100vh - 500px);
    border-radius: 12px;
}

#v-pills-tab {
    height: calc(100vh - 500px);
    background: #ff4c3b;
    padding: 50px 0 0 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.nav-pills .nav-link {
    border-radius: 0;
    font-weight: 400;
    color: #fff;
    padding: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ff4c3b;
    background: #fff;
}

.tab-content-box {
    height: calc(100% - 25px);
}

.tab-content-box .tab-content {
    padding: 20px 0;
}

ul.bank-list li {
    padding-right: 20px;
}

ul.bank-list li:last-child {
    padding-right: 0;
}

ul.bank-list input[type="radio"] {
    display: none;
}


ul.bank-list .radio{
    padding: 0;
}

ul.bank-list .checkround {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 90px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    position: initial;
    display: block;
}

ul.bank-list .checkround::after{
    content: none;
}

ul.bank-list label img {
    height: 50px;
}

ul.bank-list input[type="radio"]:checked~.checkround {
    border-color: red;
}
.add-new-bank{
    display: none;
}

/* 
.modal{
    background-color: rgba(0, 0, 0, 0.438);
} */











/* Responsiveness Css Start From Here */
@media(max-width:991px){
    .wrapper-main .border-right,.wrapper-main .border-left{
        border: 0 !important;
    }
    .dashboard-right .dashboard{
        padding: 0;
    }
}

@media(min-width:576px){
    .add_new_address .modal-dialog {
        max-width: 1000px;
    }
    .order_detail .modal-dialog{
        max-width: 700px;
    }
    .refferal_modal .modal-dialog {
        max-width: 1000px;
    }
    #pay-bill .modal-dialog {
        max-width: 800px;
    }
}

