.productVariants .firstChild{
    min-width: 150px;
    text-align: left !important;
    border-radius: 0% !important;
    margin-right: 10px;
    cursor: default;
    border: none !important;
}
.product-right .color-variant li, .productVariants .otherChild{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #f7f7f7;
    text-align: center;
}
.productVariants .otherSize{
    height: auto !important;
    width: auto !important;
    border: none !important;
    border-radius: 0%;
}
.product-right .size-box ul li.active {
    background-color: inherit;
}

.chiller_cb {
    position: relative;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chiller_cb .check_icon:before, .chiller_cb .check_icon:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb input {
    display: none;
}

.chiller_cb input:checked~.check_icon {
    background: #000;
    border-color: #000;
}

.chiller_cb input:checked~.check_icon:before {
    width: 15px;
    height: 4px;
    transition: width 0.1s;
    transition-delay: 0.3s;
}

.chiller_cb input:checked~.check_icon:after {
    width: 8px;
    height: 4px;
    transition: width 0.1s;
    transition-delay: 0.2s;
}

.chiller_cb input:disabled~.check_icon {
    background: #ececec;
    border-color: #dcdcdc;
}

.chiller_cb input:disabled~label {
    color: #dcdcdc;
}

.chiller_cb input:disabled~label:hover {
    cursor: default;
}

.chiller_cb label {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
}

.small_label {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 10px;
}

.chiller_cb .check_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
    border-radius: 50px;
}

.chiller_cb .check_icon:before {
    transform: rotate(-55deg);
    top: 20px;
    left: 12px;
}

.chiller_cb .check_icon:after {
    transform: rotate(35deg);
    bottom: 12px;
    left: 9px;
}

.check_icon.white_check::before, .check_icon.white_check::after {
    background: #000;
}

/* The radio */
.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkround {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-color: #161616;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio input:checked~.checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked~.checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #161616;
}
.border_outer {
    border: 1px solid #BDD5CC;
    padding: 27.5px 19.5px;
}
.radio_btn li {
    margin-right: 40px;
}
.radio_btn li:last-child {
    margin-right: 0;
}

.iti__flag {
    background-image: url("../images/flags.png");
}

.social-logins{
    text-align: center;
}
.social-logins img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

.product-img {
    width: 100px;
    height: 70px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#order_table tbody tr:nth-of-type(odd),
#order_table tbody tr:nth-of-type(even) {
    background-color: transparent;
}

#order_table td {
    vertical-align: top !important;
}

#order_table tr:last-child td {
    vertical-align: middle !important;
}

.coupon_box {
    background: #F3F9FF;
    padding: 5px 10px;
    width: 300px;
}

.coupon_box .form-control {
    border: 0;
    background: transparent;
}

/*.coupon_box button {
    background: transparent;
    border: 0;
    color: #3CA8FE;
    font-size: 12.7px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 11px;
}*/

.coupon_box button {
    border-color: #ff4c3b;
    color: #ff4c3b;
}

.coupon_box button:hover {
    border-color: #ff4c3b;
    background: #ff4c3b;
}

.items-details h4 {
    font-size: 16px;
    margin: 0;
}

.items-details h6 {
    margin: 0 0 3px;
    font-size: 15px;
    padding-left: 10px;
}

.items-details p {
    font-size: 12px;
    padding-left: 10px;
}

.txt-13 {
    opacity: 0.5;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
    margin: 0 0 5px;
}

.total_amt {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
}


.border_0 td {
    border-top: 0 !important;
}


/* The radio */

.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

/* Hide the browser's default radio button */

.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */

.checkround {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-color: #979797;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */

.radio input:checked~.checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.radio input:checked~.checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.radio .checkround:after {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ff4c3b;
}

.delivery_box {
    border-radius: 5px;
    background-color: #fff;
    padding: 16px;
}

.add-btn {
    height: 35px;
    line-height: 35px;
    width: 200px;
    max-width: 100%;
    padding: 0 20px;
    border: 1px solid #979797;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../images/flags@2x.png");}
}



  .number  span {cursor:pointer; }
        .minus, .plus{
            width:20px;
            height:20px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
        }
        .number input{
            height:34px;
      width: 50px;
      text-align: center;
            border:1px solid #ddd;
            border-radius:4px;
      display: inline-block;
      vertical-align: middle;
            }
            .left_box .checkround {
    top: 4px;
}
.action-icon.d-block.mb-3 {
    margin-bottom: 11px !important;
}